{
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "current": "node"
            }
          }
        ]
      ]
    },
    "production": {
      "presets": [
          ["env", {"targets": "last 5 versions, ie 9, ie 10, ie 11"}]
      ]
    }
  },
  "plugins": [
    "transform-object-rest-spread"
  ]
}